{% extends "store/base.html" %}
{% load bootstrap4 %}
{% block content_head %}
<title>注册</title>
{% endblock content_head %}
{% block content %}

<div class="container">
	<div class="row clearfix" style="margin-top: 100px;">
		<div class="col-md-12 column">
			<h2>注册</h2>
			<form method="post" action="{% url 'user:register' %}" enctype="multipart/form-data" class="form">
				{% csrf_token %}
				{% bootstrap_form form %}
				{% buttons %}
					<button name="submit" class="btn btn-primary">注册</button>
				{% endbuttons %}
				<input type="hidden" name="next" value="{% url 'store:index' %}"/>
			</form>
		</div>
	</div>
</div>

{% endblock content %}
